    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    /* ----- Nave Bar ----- */
    
    #topic {
        font-size: 40px;
        font-weight: 400;
        padding-left: 50px;
        padding-top: 50px;
    }
    
    #user_name {
        color: white;
        font-size: 18px;
        font-weight: 500;
        padding-right: 15px;
    }
    
    nav {
        height: 80px;
        background-color: #212529;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 50px 0px 50px;
    }
    
    nav .logo {
        font-size: 40px;
        color: rgba(196, 95, 0, 0.993);
        font-weight: 600;
    }
    
    nav ul {
        display: flex;
        list-style: none;
    }
    
    nav ul li,
    nav ul label {
        margin: 0 10px;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    
    nav ul li a,
    nav ul li label {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 8px 15px;
        border-radius: 5px;
    }
    
    nav ul li a:hover,
    nav ul li label:hover,
    nav ul li a.active {
        background-color: white;
        color: #212529;
        font-size: 18px;
        font-weight: 500;
    }
    
    nav .menu-btn i {
        color: white;
        font-size: 32px;
        cursor: pointer;
        display: none;
    }
    
    #click {
        display: none;
    }
    /* ----- Main Part ----- */
    
    .main {
        display: block;
        margin-top: 30px;
        margin-left: 15%;
        width: 70%;
        text-align: center;
        height: 550px;
    }
    
    .title {
        color: black;
        font-size: 26px;
        font-weight: 700;
    }
    
    #schoolnum {
        width: 20%;
        height: 35px;
        font-size: 1rem;
        font-weight: 400;
        border: 2px solid #bdbdbd;
        border-radius: 10px;
        text-align: center;
    }
    
    #schoolnum:hover {
        border: 2px solid #bdbdbdbe;
    }
    
    #selectdate {
        display: block;
        width: 320px;
        height: 40px;
        margin: 10px 0px 20px 35%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: rgb(253, 253, 253);
        background-clip: padding-box;
        border: 2px solid #bdbdbd;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 10px;
        text-align: center;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    #selectdate:hover {
        color: #212529;
        background-color: rgb(243, 243, 243);
    }
    
    div form input {
        display: none;
    }
    
    div form label {
        display: inline-block;
        width: 200px;
        font-weight: 400;
        margin: 15px 5px 5px 5px;
        line-height: 2;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: white;
        border: 2px solid rgb(52, 99, 255);
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: 10px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    div form input:disabled+label {
        background-color: rgba(238, 238, 238, 0.7);
        border: 2px solid rgba(238, 238, 238, 0.7);
        color: rgba(0, 0, 0, 0.7);
    }
    
    div form label:hover,
    div form input:checked+label {
        color: #ffffff;
        background-color: rgb(52, 99, 255);
        transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    #btnset {
        display: inline-block;
        width: 100px;
        font-weight: 400;
        margin-top: 10px;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: #bdbdbd;
        border: 2px solid #bdbdbd;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: 10px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    #btnset:hover {
        color: #000000;
        background-color: rgb(131, 131, 131);
        border-color: rgb(131, 131, 131);
    }
    
    #schoolnum {
        width: 180px;
        font-weight: 400;
        margin: 10px 5px 10px 5px;
        line-height: 2;
        padding: 15px 20px;
    }
    
    @media (max-width:1090px) {
        #user_name {
            color: white;
            font-size: 18px;
            font-weight: 500;
            padding-right: 0;
        }
        nav {
            height: 80px;
            background-color: #212529;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 30px 0px 30px;
        }
        nav .menu-btn i {
            display: block;
        }
        #click:checked~.menu-btn i::before {
            content: "\f00d";
        }
        nav ul {
            position: fixed;
            top: 80px;
            left: -100%;
            background-color: #111;
            height: 100vh;
            width: 100%;
            display: block;
            text-align: center;
            transition: all 0.3s ease;
        }
        #click:checked~ul {
            left: 0%;
        }
        nav ul li,
        nav ul label {
            margin: 40px 0;
            color: white;
            font-size: 22px;
        }
        nav ul li a,
        nav ul li label,
        #user_name {
            font-size: 22px;
            display: block;
        }
        nav ul li a:hover,
        nav ul li label:hover,
        nav ul li a.active {
            background-color: #111;
            color: rgba(196, 95, 0, 0.993);
            font-size: 22px;
        }
        /* 以上是menu設定，以下是預約設定 */
        .main {
            display: block;
            margin: 20px 15% 0px 15%;
            text-align: center;
        }
        div label h5 {
            color: black;
            font-size: 20px;
            font-weight: 700;
        }
        #schoolnum {
            width: 150px;
            font-weight: 400;
            margin: 10px 5px 5px 5px;
            line-height: 2;
            padding: 15px 20px;
        }
    }
    
    @media (max-width:420px) {
        nav .logo {
            font-size: 30px;
        }
        .main {
            display: block;
            width: auto;
            margin: 20px 5% 0px 5%;
            text-align: center;
        }
        #selectdate {
            display: block;
            width: 60%;
            margin: 5px 10% 10px 20%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: rgb(253, 253, 253);
            background-clip: padding-box;
            border: 2px solid #bdbdbd;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 10px;
            text-align: center;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        div form label {
            display: inline-block;
            width: 180px;
            font-weight: 400;
            margin: 5px 5px 5px 5px;
            line-height: 2;
            color: #212529;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            background-color: white;
            border: 2px solid rgb(52, 99, 255);
            padding: .375rem .75rem;
            font-size: 16px;
            border-radius: 10px;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        div form label {
            display: inline-block;
            width: 150px;
            font-weight: 400;
            margin: 15px 5px 5px 5px;
            line-height: 2;
            color: #212529;
            padding: .375rem .75rem;
            font-size: 15PX;
        }
        div form label:hover {
            color: #000000;
            background-color: white;
            border: 2px solid rgb(52, 99, 255);
        }
        #schoolnum {
            width: 150px;
            font-weight: 400;
            margin: 10px 5px 5px 5px;
        }
    }